body{
    width: 80%;
    margin: auto;
    font-family: sans-serif;
    background-color: black;
    color: white;
}
.link{
    color: white;
}
.container img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}
main{
    background: #cbcfd076;
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 30px;
}
